<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boots of Traveling</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <!-- Result -->
    <div id='result' class="callout medium">
        <div class="row column text-center">
            <h2>{{game.result}}</h2>
        </div>
    </div>

    <!-- Choice Form -->
    <div class='form'>
        <form id='choices' name='choices'>
            <div class='columns small-6 medium-6 large-6 text-center'><input class='button' type='submit' value='New Game'></div>

            <div class='columns small-6 medium-6 large-6 text-center'><input class='button' type='submit' value='Log Out'></div>
        </form>
    </div>
</body>

</html>