<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boots of Traveling</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="../public/css/main.css">
</head>

<body>
    <!-- Title -->
    <div id='title' class="callout large">
        <div class="row column text-center">
            <h1>Boots of Traveling</h1>
        </div>
    </div>

    <!-- Different Templates -->
    <div class='row'>
        <div id='spacers' class='columns large-2'></div>

        <div id='savesdiv' class='columns small-8 medium-8 large-8'>
            <div class='collapse expanded row'>
                <div id='saves' class='columns end large-10'>
                    <div class='collapse expanded row'>
                        <div id='charport' class='columns small-2 medium-2 large-2'>
                            <!-- {{character.portrait}} -->
                            <img class='img' src='../../public/img/olympic-gold-portrait.png'>
                        </div>
                        <div id='saveinfo' class='columns end large-9'>
                            <p class='gameprog'>Olypic Gold Medalist</p>
                            </br>
                            <div class='collapse extended row'>
                                <div id='lesserdeets' class='columns large-6'>
                                    <p class='gameprog'>Location: Cave 1-A</p>
                                </div>
                                <div id='lesserdeets' class='columns large-6'>
                                    <p class='gameprog'>Last Saved: --/--/-- at --:--pm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id='spacers' class='columns large-2'></div>
    </div>
</body>

</html>