{{!-- Paired with main layout --}}

<div id='choices' class='row column text-center'>
    <a href='/character-select'><button class='buttontitle'><p class='buttontext'>New Game</p></button></a>
    <a href=''><button class='buttontitle'><p class='buttontext'>Saved Games</p></button></a>
    <a href=''><button class='buttontitle'><p class='buttontext'>Log Out</p></button></a>
</div>