{{!-- Paired with main layout --}}

<div id='title' class="callout large">
    <div class="row column text-center">
        <h1>Boots of Traveling</h1>
    </div>
</div>

<div id='choices' class='row column text-center'>
    <button class='buttontitle'><p class='buttontext'>New Game</p></button>
    <button class='buttontitle'><p class='buttontext'>Saved Games</p></button>
    <button class='buttontitle'><p class='buttontext'>Log Out</p></button>
</div>