/* Formating and Structure */

.row {
    height: 100%;
}

#container {
    height: 100%;
    width: 100%;
}

#side {
    background-color: green;
    opacity: .2;
    border-style: solid;
    border-width: 3px;
    height: 100%;
}

#main {
    border-style: solid;
    border-width: 3px;
    height: 100%;
}

#scene {
    background-color: blue;
    opacity: .2;
    border-style: solid;
    border-width: 3px;
    height: 60%;
}

#userinterface {
    background-color: yellow;
    opacity: .2;
    border-style: solid;
    border-width: 3px;
    height: 40%;
}